.App {
  text-align: center;
}


header {
  background:#a3b18a;
  display:block;
  padding:4rem 2rem;
}

h1 {
  text-transform:uppercase;
  font-weight:900;
  background:#a3b18a;
  color:#fff;
  margin:0;
  padding:2rem;
}

header a {
  text-decoration:none;
  background:#a3b18a;
  padding:1rem 2rem;
  border:1px solid #fff;
  color:#fff;
  border-radius:4px;
  transition:.2s all ease-in-out;
  border:1px solid #fff;
  margin:0 1rem;
}

nav a:hover {
  background:#fff;
  color:#a3b18a;
}

img {
  border-radius:4px;
  height:400px;
  margin-top:2rem;
}

aside {
  font-style:italic;
  margin:2rem 0;
  background:#a3b18a;
  padding:2rem;
  color:#fff;
}

table {
  margin:2rem auto;
  text-align:left;
  border-radius:4px;
  border:1px solid black;
}

th {
  background:#a3b18a;
  color:#fff;
  padding:0.5rem;
  text-align:center;
}

tr {
  border:1px solid black;
  border-radius:4px;
}

td {
  border:1px solid black;
  border-radius:4px;
}

footer {
  background:#a3b18a;
  padding:1.5rem;
}

footer a {
  color:#fff;
  font-style:italic;
}

h2 {
  text-transform:uppercase;
  color:#fff;
  font-weight:600;
}

.fullscreen-img {
  width:100%;
  height:auto;
  margin:0;
}